page-home {
    .Absolute-Center {
        display: block;
        width: 250px;
        height: 250px;
        //overflow: auto;
        margin: auto;
        //position: absolute;
        left: 0; right: 0;
  }

}
